/* Square.jsx */

.square {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  box-sizing: border-box;
  border: solid black 2px;
  margin: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.square-img {
  width: 100%;
  height: 100%;
}

.square.spinning {
  /* Add spinning animation styles here */
  animation: spin 2s linear;
}

.square.fading {
  /* Add fading animation styles here */
  opacity: 0;
}

.square.visible {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

.square.hidden {
  opacity: 0;
  pointer-events: none; /* Disable clicking on hidden squares */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

/* CSS animation for highlighting effect */
@keyframes highlight {
  0%,
  100% {
    background-color: transparent;
    opacity: 1; /* Start and end with full opacity */
  }
  50% {
    border: solid 3px yellow; /* You can change the color to your preference */
    filter: brightness(200%) contrast(120%) saturate(100%); /* Apply a filter to the image when the square is highlighted */
  }
}

/* CSS animation for spin effect */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the highlighted squares */
.square.visible.highlighted {
  animation: highlight 0.5s ease infinite;
}
